.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 2px solid hotpink;
  border-radius: 5px;
  padding: 20px;
  background: aliceblue;
}

.todolist-empty {
  border: 2px solid hotpink;
  border-radius: 5px;
  padding: 20px;
  background: indianred;
}

.error {
  border: red 1px solid;
}

.error-messege {
  margin: 3px 0 0 0;
  font-size: 15px;
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.reset {
  background-color: coral;
  color: white;
}

.is-done {
  opacity: 0.5;
  text-decoration: line-through;
}